.new-item {
    padding      : 2rem;
    border-radius: 5px;
    position     : relative;

    &:hover {
        box-shadow: 4px 4px 5px $color-bg, -4px -4px 5px $color-bg;
    }

    &::after {
        content         : "";
        position        : absolute;
        height          : 1px;
        left            : 0;
        right           : 0;
        bottom          : 0;
        transform       : scaleY(.5);
        background-color: $color-text__placeholder;

    }
}

#pageination {
    padding        : 1rem;
    display        : flex;
    justify-content: center;
}