.home-slide {
    // width: 100vw;
    position: relative;

    &>.iconfont {
        display  : none;
        width    : 30px;
        height   : 30px;
        position : absolute;
        top      : 0;
        bottom   : 0;
        margin   : auto;
        font-size: 30px;
        color    : $white;
        background-color: red;
        z-index: 999;
    }

    &>.icon-left-circle-fill {
        left: 10px;
    }

    &>.icon-right-circle-fill {
        right: 10px;
    }

    &>.slide-wrapper {
        width   : 100vw;
        overflow: hidden;
        display : flex;
        margin  : 3rem 0;

        &>.slide-list {
            margin         : auto;
            display        : flex;
            justify-content: center;

            &>.slide-item {
                text-align: center;
                margin    : 1rem;

                &>.slide-item__img {
                    width : 286px;
                    height: 380px;
                }

                &>label {
                    font-size: 1rem;
                }
            }
        }
    }
}





@media screen and (min-width: 1120px) {
    .home-slide {
        .iconfont {
            display: inline-block;
        }

        .slide-wrapper {
            width : 80vw;
            margin: auto;
        }
    }

}