#product-container {
    padding: 2rem 0;

    .nav-list {
        position: relative;
        margin  : 1rem 0;

        &::after {
            content         : "";
            position        : absolute;
            height          : 1px;
            left            : 0;
            right           : 0;
            bottom          : 0;
            transform       : scaleY(.5);
            background-color: $color-text__placeholder;
        }
    }

    .nav-item {
        height      : 60px;
        line-height : 60px;
        padding-left: 20px;
        position    : relative;
        overflow    : hidden;
        font-weight : bold;

        &:hover {
            background-color: $color;
            color           : $white;
        }

        &.active {
            background-color: $color;
            color           : $white;

            &::after {
                background-color: $white;
            }
        }

        &>.iconfont {
            position: absolute;
            top     : 0;
            right   : 0;
            bottom  : 0;
            margin  : auto;
        }

        // &::after {
        //     content         : "";
        //     position        : absolute;
        //     right           : 0;
        //     top             : 0;
        //     bottom          : 0;
        //     margin          : auto;
        //     width           : 6px;
        //     height          : 2px;
        //     background-color: $gray;
        // }

        &::before {
            content         : "";
            position        : absolute;
            height          : 1px;
            left            : 0;
            right           : 0;
            top             : 0;
            transform       : scaleY(.5);
            background-color: $color-text__placeholder;
        }
    }

    .nav-second__list {
        height    : 0;
        overflow  : hidden;
        transition: all .3s ease-in-out;
    }


    .nav-second__item {
        height          : 40px;
        line-height     : 40px;
        padding-left    : 20px;
        position        : relative;
        background-color: $color-bg;

        &.active {
            background-color: $color-heavy;
            color           : $white;
        }

        &::before {
            content         : "";
            position        : absolute;
            height          : 1px;
            left            : 0;
            right           : 0;
            top             : 0;
            transform       : scaleY(.5);
            background-color: $color-text__placeholder;
        }
    }

    .product-item {
        margin-bottom: 1rem;
    }

    .product-item__img {
        height: 300px;
    }

    .product-item__name {
        padding              : .5rem;
        text-align           : center;
        // display           : -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 2;
        // overflow          : hidden;
    }
}

.no-data {
    width     : 100%;
    min-height: 360px;
    text-align: center;
    color     : $color-text__placeholder;
    display   : flex;
    margin    : 0;

    .no-data__content {
        margin: auto;

        .iconfont {
            display  : inline-block;
            font-size: 80px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 768px) {
    #product-container .product-item{
        padding:1rem;
    }
}