.header {
    width: 100vw;
}

.nav-link{
    margin:0 1rem;
}

.nav-link.active,
.nav-dropdown.active {
    color: #fff !important;
}

.navbar {
    background-color: rgba(255, 255, 255, .7);
    z-index: $zindex-nav !important;
}

.navbar-collapse {
    width: 100%;
}

.nav-search__btn {
    position: relative;

    .search-btn {
        position: absolute;
        left    : 0;
        top     : 0;
        right   : 0;
        bottom  : 0;
        outline : none;
        opacity : 0;
    }

    .iconfont {
        font-size: 2rem;
    }
}

.brand-logo {
    width: 120px;
}

#basic-nav-dropdown{
    text-align: left;
}