.about-text{
    padding:1rem;
}
.about-link{
    display: flex;
    justify-content: space-around;
    &>li{
        flex:1;
        padding:1rem;
        height: 280px;
    }
}
.about-content{
    padding:60px 0;
}