.home-content {
    width: 100%;
}

.home-item {
    min-height: 780px;
    padding   : 2rem 0;

    &.cancel-padding {
        padding: 0;
    }

    &.flex {
        display: flex;
        margin : 0;

        &>.item-flex__center {
            margin: auto;

            &.fluid-lg {
                width: 100vw;
            }
        }
    }

    &.bg-cover {
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
    }
}


//产品分类
.item-product__title>p {

    position    : relative;
    padding-left: 1rem;
    font-size   : 1.5rem;
    line-height : 1.5rem;

    &::before {
        content         : "";
        position        : absolute;
        left            : .2rem;
        top             : 0;
        bottom          : 0;
        margin          : auto;
        width           : 2px;
        background-color: teal;
    }
}

.item-product__title>h1 {
    color  : $color-text__placeholder;
    padding: 35px 0;
}

.item-product__btn {
    width           : 100%;
    background-color: $color;
    height          : 142px;
}

.item-product__list {
    padding-top    : 2rem;
    margin-bottom  : 2rem;
    display        : flex;
    justify-content: space-around;

    &>li {
        flex: 1;
    }

    &>li:nth-of-type(1) {
        padding-right: .5rem;
    }

    &>li:nth-of-type(2) {
        padding-left: .5rem;
    }

    &>li>div {
        height: 170px;
    }

    &>li>.product-item__title {
        line-height     : 186px;
        text-align      : center;
        background-color: $lightGray;
    }
}

.item-product__btn {
    padding: 1.5rem;

    .produt-right__title {
        color        : $white;
        margin-bottom: 1rem;
        position     : relative;

        &>h3::before {
            content         : "";
            position        : absolute;
            left            : -1.5rem;
            top             : 0;
            bottom          : 0;
            margin          : auto;
            height          : 4px;
            width           : 1rem;
            background-color: $white;
        }
    }
}

.item-product__bg {
    height: 434px;
}

//产品用途
.home-slide__box {
    width: 80vw;
}

.home-slide__item {
    padding: 10px;
}

//公司简介
.home-about__title {
    text-align      : right;
    background-color: $color;
    color           : $white;
    padding         : 1.5rem;

    &>h3 {
        position: relative;
    }

    &>h3::after {
        content         : "";
        position        : absolute;
        right           : -1.5rem;
        top             : 0;
        bottom          : 0;
        margin          : auto;
        height          : 4px;
        width           : 1rem;
        background-color: $white;
    }
}

.home-about__text {
    margin-bottom: 2rem;

    &>p {
        padding           : 2rem 0;
        line-height       : 2.4rem;
        display           : -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        font-size         : 1rem;
        ;
        overflow: hidden;

    }
}

.home-about__img {
    height: 456px;
}

//文化
.home-culture {
    padding         : 4rem 2rem;
    background-color: rgba(0, 181, 80, .5);
    color           : $white;

    &>span {
        display         : inline-block;
        height          : 4px;
        width           : 3rem;
        background-color: $white;
    }

    &>h2 {
        line-height: 3rem;
    }

    &>h1 {
        padding-top   : 3rem;
        padding-bottom: 1rem;
    }
}

.home-cultre__bg {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    z-index            : -1;
}

//新闻
.home-new__list,
.home-new__img {
    padding-top: 4rem;
}


.home-new__list>li {
    margin-bottom: 2rem;
    border-radius: 5px;
    padding      : 10px;

    &:hover {
        box-shadow: 2px 2px 5px $color-bg, -2px -2px 5px $color-bg;
    }
}

//滑动按钮
.home-nav__down {
    height          : 2rem;
    width           : 100vw;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    background-color: rgba($color: #fff, $alpha: .5);
    z-index         : $zindex-nav;

    &>.iconfont {
        display  : inline-block;
        font-size: 1.4rem;
        animation: pulse 1.5s infinite;
    }
}

@keyframes pulse {
    from {
        opacity  : .5;
        transform: translateY(0);
    }

    to {
        opacity  : 1;
        transform: translateY(-10px);
    }
}


@media screen and (min-width: 1400px) {
    .home-about__text {
        padding-left: 15vw;
    }

    .home-about__img {
        padding-right: 10vw;
    }

    .item-product__bg {
        width: 80%;
    }
}

@media screen and (min-width:992px) {
    .home-new__img {
        height: 512px;
    }
}

@media screen and (max-width: 992px) {
    .item-product__bg {
        width: 100%;
    }

    .home-slide__box {
        width: 100vw;
    }

    .home-nav__down {
        display: none;
    }
}