.home-content {
    width: 100vw;
}

.home-item {
    min-height: 780px;
    padding   : 2rem 0;

    &.flex {
        display: flex;
        margin : 0;

        &>.item-flex__center {
            margin: auto;
        }
    }
    &.bg-cover{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #f5f5f5;
    }
}

//产品分类
.item-product__title>p {

    position    : relative;
    padding-left: 1rem;
    font-size   : 1.5rem;
    line-height : 1.5rem;

    &::before {
        content         : "";
        position        : absolute;
        left            : .2rem;
        top             : 0;
        bottom          : 0;
        margin          : auto;
        width           : 2px;
        background-color: teal;
    }
}

.item-product__title>h1 {
    color  : $color-text__placeholder;
    padding: 35px 0;
}

.item-product__btn {
    width           : 100%;
    background-color: $color;
    height          : 142px;
}

.item-product__list {
    padding-top    : 2rem;
    margin-bottom  : 2rem;
    display        : flex;
    justify-content: space-around;

    &>li:nth-of-type(1) {
        padding-right: .5rem;
    }

    &>li:nth-of-type(2) {
        padding-left: .5rem;
    }

    &>li>div {
        height: 186px;
    }

    &>li>.product-item__title {
        line-height     : 186px;
        text-align      : center;
        background-color: $lightGray;
    }
}

.item-product__btn {
    padding: 1.5rem;

    .produt-right__title {
        color        : $white;
        margin-bottom: 1rem;
        position     : relative;

        &>h3::before {
            content         : "";
            position        : absolute;
            left            : -1.5rem;
            top             : 0;
            bottom          : 0;
            margin          : auto;
            height          : 4px;
            width           : 1rem;
            background-color: $white;
        }
    }
}

.item-product__bg {
    width : 80%;
    height: 434px;
}

.home-nav__down {
    width           : 100vw;
    position        : fixed;
    bottom          : 0;
    text-align      : center;
    background-color: rgba($color: #fff, $alpha: .5);
    z-index         : $zindex-nav;

    &>.iconfont {
        font-size: 1.4rem;
    }
}

//产品用途
.slide-wrapper {
    padding:3rem 0;
    max-width: 954px;
    overflow: hidden;
}

.slide-list {
    display: flex;

    &>.slide-item {
        text-align: center;
        margin          : 1rem;
        &>.slide-item__img {
            width : 286px;
            height: 420px;
        }
        &>label{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .item-product__bg {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .home-nav__down {
        display: none;
    }

}