.product-detail__slide {
    position: relative;
    padding : .2rem;

    .detail-slide__list {
        display: flex;

        &>li {
            flex: 1;
        }
    }
}

.product-thumbnail {
    height: 60px;
}

.my-div {
    width           : 599px;
    height          : 10px;
    background-color: red;
}

.product-detail__info>h3 {
    margin-bottom: 1rem;
}