@charset "utf-8";

/* make the customizations */
$theme-colors: ("primary": green,
    "secondary":teal);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

#app{
    width: 100vw ;
}

/*******重置属性*********/
* {
    box-sizing: border-box;
}

/**禁止文本缩放 字体设置  取消touch高亮效果**/

// html {
//   font-size: 13.333333vw;
// }
html {
    width     : 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;

    height: 100vh;

    margin: 0px;

    padding: 0px;

    -webkit-text-size-adjust: 100%;

    font-family: Helvetica, Arial, sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background: transparent;

    -webkit-overflow-scrolling: touch;

    font-size: 14px;

    font-weight: normal;

    box-sizing: border-box;

}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
legend,
input,
textarea,
p,
th,
td,
hr,
button,
article,
aside,
footer,
menu,
nav,
section,
span,
label
* {
    margin    : 0;
    padding   : 0;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/**清除输入框内阴影**/

input,
select,
textarea {
    outline           : none;
    border            : 0;
    -webkit-appearance: none;
    appearance        : none;
    background        : none;
    color             : #fff;
}

button {
    outline: none;
    border : none;
}

ol,
ul {
    list-style: none;
}


/**禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加**/

img,
a * {
    -webkit-touch-callout: none;
}

img {
    vertical-align: middle;
}

a,
a:active,
a:hover * {
    text-decoration: none;
}

/**去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)**/
a,
button,
input,
textarea * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}